page-text-com {
  .langage-img {
    height: 20%;
    background-color: #3C20CA;
  }

  .langage2-img {
    width: 40%;
    height: 40%;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .n2 {
    margin-left: 4rem;
  }

  .n1 {
    margin-left: 3rem;
  }

  .in-img {
    height: 30%;
    width: 30%;
    border-radius: 100%;

  }

  .in-img img {
    margin-top: 1rem;
    border-radius: 100%;
  }

  .trait {
    border: solid 0.5px;
    border-color: white;
    margin-top: 0.5rem;
  }
}
