page-home {
  .home-img {
    margin-top: 5rem;
    width: 100%;
  }

  .home-text {
    margin-top: 2rem;
  }

  .home-text h1 {
    color: #2021C9;
  }

  .home-text button {
    margin-top: 4.5rem;
    box-shadow: 8px 8px 12px #b9aefa;
    background-color: #203EC9;
  }
}
